MCU/TeslaBMBCheck.X/build/
MCU/TeslaBMBCheck.X/dist/
Board/TeslaBMBCheck/TeslaBMBCheck-backups/
Board/TeslaBMBCheck/fp-info-cache
MCU/TeslaBMBCheck.X/nbproject/private/
Board/TeslaBMBCheck/~*
Tools/MakeSHTable/MakeSHTable/obj/
Tools/MakeSHTable/MakeSHTable/bin/
Tools/MakeSHTable/.vs/
*.zip
